<!-- Base template included in all others templates. It contains the login/logout functionality. Also, display the currently logged user -->
<!-- If there is authenticated user the username is show and the logout option -->
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} <a href="{% url 'user_logout' %}">Logout</a></p>
{% else %}
<!-- If there is no logged-in user it shows only the login option -->
    <p><a href="{% url 'user_login' %}">Login</a></p>
{% endif %}

<br>
<!-- Depending on the message tag returns successful or error message  -->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class='alert alert-danger alert-dismissible fade show' role='alert'>
                <b><font color='#FF0000'>{{ message }}</font></b>
            </div>
        {% elif message.tags == 'success' %}
            <div class='alert alert-success alert-dismissible fade show' role='alert'>
                <b><font color='#008000'>{{ message }}</font></b>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<br>