<h1>Title: {{ movie.title }}</h1>
<p>Description: {{ movie.description }}</p>
<p>Release year: {{ movie.release_year }}</p>
<p>Director: {{ movie.director }}</p>
<!-- By .get_gener_display display the human-readable value from the choice menu-->
<p>Gener: {{ movie.get_gener_display }}</p>
<p>Users recommendation: {{ movie.users_likes }}</p>
<!-- If there is a cover img resize and shows it -->
{% if movie.cover %}
    <img style="max-width:300px" src={{ movie.cover.url }}/>
{% else %}
    <p>No cover image available</p>
{% endif %}
<br><br>
<a href="{% url 'listing_page' %}">Back to movies list</a>
