{% include "base.html" %}

{% for element in movie_elements %}
    <h2>Title: {{ element.title }}</h2>
    <!-- If there is a cover img resize and shows it -->
    {% if element.cover %}
        <img style='max-width:300px' src='{{ element.cover.url }}'/>
    {% else %}
        <p>No cover image available</p>
    {% endif %}
    <p>Description: {{ element.description }}</p>
    <p>Release date: {{ element.release_date }}</p>
    <p>Director: {{ element.director }}</p>
    <!-- By .get_gener_display shows the human-readable value from the choices menu-->
    <p>Gener: {{ element.get_gener_display }}</p>
    <p>User ratings: {{ element.num_favorites }}</p>
{% endfor %}

<br><br>
<a href="{% url 'available_movies_page' %}">Back to available movies page</a>
