{% include "base.html" %}

<h2>Available movies</h2>
<a href="{% url 'available_movies_page' %}">Click here to see all available movies</a>

<br><br><br>
<h2>Add a movie to the library</h2>
<a href="{% url 'add_movie_page' %}">Click here to add a movie to the library</a>

<br><br><br>
<h2>Add a movie to your favorite</h2>
<a href="{% url 'add_favorites_page' %}">Click here to add favorite a movie</a>

<br><br><br>
<h2>Show your favorite movies</h2>
<a href="{% url 'show_favorites_page' %}">Click here to show your favorite movies</a>
